<table>
    <tr><a></a>
        <td> <a href="https://ricesush1.github.io/RiceSushi/">Home</a> </td>
        <td><a href="https://ricesush1.github.io/RiceSushi/pages/review">Review Tickets</a></td>
        <td><a href="https://ricesush1.github.io/RiceSushi/pages/TPT">TPT</a></td>
        <td><a href="https://ricesush1.github.io/RiceSushi/pages/DSproject">Data Structures Project</a></td>
        <td><a href="https://ricesush1.github.io/RiceSushi/pages/createtask">Create Task</a></td>
        <td><a href="https://ricesush1.github.io/RiceSushi/pages/apTesting">AP Testing</a></td>
    </tr>
</table>
